*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  max-width: 1800px;
  margin: auto;
  width: 70%;
  background-color: purple;
}

.main-heading{
  margin-top: 2rem;
  font-size: 4rem;
  text-align: center;
  text-shadow: -2px 2px 2px orange;

} 